@import "../../styles/variaveis";

.carrosel__conteiner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  .carrossel {
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 55px 20px;
    display: flex;
    list-style: none;
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .btn__left,
  .btn__rigth {
    margin: 0 10px;
    background-color: $cor-de-caixa;
    padding: 13px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 100%;

    @media screen and (min-width: 768px) {
      position: static;
    }
  }

  .btn__left {
    left: 10%;
  }
  .btn__rigth {
    right: 10%;
  }
}
