@import "../../../styles/variaveis";

.card {
  height: 260px;
  width: 260px;
  background-color: $cor-principal;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: end;
  gap: 10px;
  position: relative;
  margin-left: calc((100% - (260px))/2);

  .imagem_produto {
    height: 190px;
    width: 190px;
    object-fit: contain;
  }

  .novo {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
  }

  .curtir {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: $branco-padrao;
      }
    }
  }

  .texto__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    p {
      color: $branco-padrao;
      max-width: 90%;
      text-align: center;
      white-space: nowrap;
    }

    .preco {
      font-weight: 700;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: calc((100% - (260px))/10);
  }

  @media screen and (min-width: 768px) {
    margin-left: calc((100% - (260px))/30);
  }
}
