$cor-de-fundo: #161616;
$cor-principal: #29282D;
$cor-de-caixa: #575757;
$branco-padrao: #E8E1DC;
$salmao: #EC6D69;
$laranja: #ECA06F;

$gradiente-cabecalho: linear-gradient(90deg, #29282D 0%, #161616 100%);;