@import "../../styles/variaveis";

.bag {
  position: absolute;
  right: 0;
  transition: right 0.3s ease-in-out;
  top: 100%;
  background-color: $cor-principal;
  width: 500px;
  height: calc(100vh - 68px);
  border-top: 4px solid $salmao;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .cabecalho__bag {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 30px 0 20px 0;

    .texto__conteiner {
      text-align: center;

      h3 {
        color: $branco-padrao;
        font-weight: 400;
        line-height: 1.5em;
      }
      span {
        color: $cor-de-caixa;
        font-weight: 400;
      }
    }

    .fechar__bag {
      position: absolute;
      right: 30px;
      top: 40px;
      height: 40px;
      width: 40px;
      background: url(../../assets/icons/seta-icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .main__bag {
    width: 90%;
    max-height: 60%;
    min-height: 60%;

    .lista__itens {
      margin: 0;
      display: flex;
      min-height: 100%;
      flex-direction: column;
      list-style: none;
      padding: 5px 10px;
      max-height: 100%;
      overflow-y: scroll;
      gap: 20px;

      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.171);
        border-radius: 50px;
      }
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.616);
        border-radius: 50px;

        &:hover {
          background: rgb(255, 255, 255);
        }
      }
    }
  }

  .rodape__bag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 55px 0;
    width: 80%;
    gap: 20px;

    span {
      align-self: end;
      color: $branco-padrao;
      font-weight: 400;
    }

    button {
      padding: 15px 30px;
      border-radius: 15px;
      border: none;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      background-color: $salmao;
      color: $branco-padrao;
      font-size: 1.1rem;
      box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.473);
    }
  }
}
